*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display: flex;
}
#parent{
    height:230px;
    width:500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.child{
    height:100px;
    width:150px;
    border-radius: 5px;
    border: none;
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 10px;
    transition: 1s;
    font-size: 20px;
}
.child:hover{
    transform: scale(110%);
}