*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#parent{
    width:400px;
    height:200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
}
#child1{
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
}
#child2{
    grid-row-start:1;
    grid-row-end: 3;
    background-color: rgb(0, 255, 149);
}
#child3{
    grid-row-start:1;
    grid-row-end: 3;
    background-color: purple;
}

#child4{
    grid-row-start:2;
    grid-row-end:3;
    background-color: blue;
}
#child5{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: limegreen;
}
#child6{
    background-color: orangered;
}
#child7{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(226, 43, 141);
}