*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#parent{
    height:500px;
    width:500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap:20px;

}
#child1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;    
}
#child2{
    background-color: orange;
}
#child3{
    background-color: aqua;
}
#child4{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: green;
}
.child{
    border: none;
    border-radius: 10px;
}