*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
}
header{
    height:100px;
    width:100vw;
    background-color: black;
    position:fixed;
    top:0;
}
nav{
    height:100px;
    width:100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    position:fixed;
    top:0;
}
nav a{
    color:white;
    text-decoration: none;
    transition:0.7s;
    font-size: 19px;
}
nav a:hover{
    transform:scale(115%)
}
nav button{
    height:35px;
    width:80px;
    transition:0.7s;
    background: #00000F;
    background: linear-gradient(140deg, rgba(0, 0, 15, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(0, 0, 15, 1) 100%);
}
nav button a {
    color:black;
    font-size:15px;
    display: inline-block;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
nav button:hover{
    transform:scale(115%)
}