*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#first{
    background-color: black;
    height:700px;
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
h1{
    color:white;
}
p{
    color:white;
    font-size: 30px;
}
#second{
    display: flex;
    align-items: center;
}