*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#parent{
    width:1050px;
    height:690px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);
    gap:10px;
}
#child1{
    grid-row: 1/-1;
}
#child2{
    grid-row:1/7;
}
#child3{
    grid-row:7/13;    
}
#child4{
    grid-row:1/5;
}
#child5{
    grid-row:5/9;
}
#child6{
    grid-row:9/13;
}
#child7{
    grid-row:1/4;
}
#child8{
    grid-row:4/7;
}
#child9{
    grid-row:7/10;
}
#child10{
    grid-row:10/13;
}
#child11{
    grid-row:1/3;
}
#child12{
    grid-row:3/5;
}
#child13{
    grid-row:5/7;
}
#child14{
    grid-row:7/9;
}
#child15{
    grid-row:9/11;
}
#child16{
    grid-row:11/13;
}
.child{
    background-color: rgb(131, 202, 8);
    display: flex;
    justify-content: center;
    padding-top:10px;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.725);
}