*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#parent{
    width:1200px;
    height:500px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap:5px;
}
#child1{
    grid-column: 1/-1;
}
#child2{
    grid-column: 1/7;
}
#child3{
    grid-column: 7/-1;
}
#child4{
    grid-column:1/5;
}
#child5{
    grid-column:5/9;
}
#child6{
    grid-column:9/13;
}
#child7{
    grid-column:1/4;
}
#child8{
    grid-column:4/7;
}
#child9{
    grid-column:7/10;
}
#child10{
    grid-column:10/13;
}
#child11{
    grid-column:1/3;
}
#child12{
    grid-column:3/5;
}
#child13{
    grid-column:5/7;
}
#child14{
    grid-column:7/9;
}
#child15{
    grid-column:9/11;
}
#child16{
    grid-column:11/13;
}
.child{
    background-color: rgb(255, 183, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.725);
}